# Reading RADOLAN RX and RY filterd products
-----------------------------------------

In [1]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
import wradlib as wrl

# Read CSV with pandas
------------------

In [2]:
# read CSV and create a data frame with time index from Unnamed: 0
dfr = pd.read_csv('/automount/ags/velibor/data/radolan/rxy_20120101000000-20121231235000.csv')
dfrr = dfr.set_index(pd.DatetimeIndex(dfr[u'Unnamed: 0']))

# Drop Unnamed: 0 Column
dfrr = dfrr.drop([u'Unnamed: 0'],axis=1)

# View data set in taublar and as statistics
------------------------------------------

In [3]:
# view Columns and time index
print (dfrr.columns)
print (dfrr.index)

# Data as tabular
dfrr

Index([u'RX', u'RY', u'zgrids_me', u'zgrids_st', u'zgrids_co', u'rgrids_>0',
       u'rgrids_0-1', u'rgrids_1-5', u'rgrids_5-10', u'rgrids_>10', u'rsum'],
      dtype='object')
DatetimeIndex(['2012-01-01 00:00:00', '2012-01-01 00:05:00',
               '2012-01-01 00:10:00', '2012-01-01 00:15:00',
               '2012-01-01 00:20:00', '2012-01-01 00:25:00',
               '2012-01-01 00:30:00', '2012-01-01 00:35:00',
               '2012-01-01 00:40:00', '2012-01-01 00:45:00',
               ...
               '2012-12-31 23:05:00', '2012-12-31 23:10:00',
               '2012-12-31 23:15:00', '2012-12-31 23:20:00',
               '2012-12-31 23:25:00', '2012-12-31 23:30:00',
               '2012-12-31 23:35:00', '2012-12-31 23:40:00',
               '2012-12-31 23:45:00', '2012-12-31 23:50:00'],
              dtype='datetime64[ns]', length=105407, freq=None)

/home/velibor/anaconda2/envs/wradlib/lib/python2.7/site-packages/IPython/core/formatters.py:92: DeprecationWarning: DisplayFormatter._ipython_display_formatter_default is deprecated: use @default decorator instead.
  def _ipython_display_formatter_default(self):
/home/velibor/anaconda2/envs/wradlib/lib/python2.7/site-packages/IPython/core/formatters.py:98: DeprecationWarning: DisplayFormatter._formatters_default is deprecated: use @default decorator instead.
  def _formatters_default(self):
/home/velibor/anaconda2/envs/wradlib/lib/python2.7/site-packages/IPython/core/formatters.py:677: DeprecationWarning: PlainTextFormatter._deferred_printers_default is deprecated: use @default decorator instead.
  def _deferred_printers_default(self):
/home/velibor/anaconda2/envs/wradlib/lib/python2.7/site-packages/IPython/core/formatters.py:669: DeprecationWarning: PlainTextFormatter._singleton_printers_default is deprecated: use @default decorator instead.
  def _singleton_printers_default(self):
/home/velibor/anaconda2/envs/wradlib/lib/python2.7/site-packages/IPython/core/formatters.py:672: DeprecationWarning: PlainTextFormatter._type_printers_default is deprecated: use @default decorator instead.
  def _type_printers_default(self):
/home/velibor/anaconda2/envs/wradlib/lib/python2.7/site-packages/IPython/core/formatters.py:669: DeprecationWarning: PlainTextFormatter._singleton_printers_default is deprecated: use @default decorator instead.
  def _singleton_printers_default(self):
/home/velibor/anaconda2/envs/wradlib/lib/python2.7/site-packages/IPython/core/formatters.py:672: DeprecationWarning: PlainTextFormatter._type_printers_default is deprecated: use @default decorator instead.
  def _type_printers_default(self):
/home/velibor/anaconda2/envs/wradlib/lib/python2.7/site-packages/IPython/core/formatters.py:677: DeprecationWarning: PlainTextFormatter._deferred_printers_default is deprecated: use @default decorator instead.
  def _deferred_printers_default(self):

,RX,RY,zgrids_me,zgrids_st,zgrids_co,rgrids_>0,rgrids_0-1,rgrids_1-5,rgrids_5-10,rgrids_>10,rsum
2012-01-01 00:00:00,1,1,567619,65600,692,52457,52449,7,1,0,2887.42
2012-01-01 00:05:00,1,1,567619,64293,722,51802,51791,10,1,0,2719.40
2012-01-01 00:10:00,1,1,567619,64388,665,51820,51809,10,1,0,2679.81
2012-01-01 00:15:00,1,1,567619,63295,579,51184,51177,7,0,0,2597.32
2012-01-01 00:20:00,1,1,567619,62936,600,50578,50569,5,3,1,2557.80
2012-01-01 00:25:00,1,1,567619,61144,606,49339,49329,8,2,0,2507.57
2012-01-01 00:30:00,1,1,567619,59345,590,47880,47868,11,1,0,2395.58
2012-01-01 00:35:00,1,1,567619,57389,532,46395,46383,10,2,0,2237.38
2012-01-01 00:40:00,1,1,567619,55519,555,44551,44537,12,2,0,2163.20
2012-01-01 00:45:00,1,1,567619,54742,575,44294,44285,9,0,0,2146.25
2012-01-01 00:50:00,1,1,567619,53526,654,43396,43383,13,0,0,2188.91
2012-01-01 00:55:00,1,1,567619,52362,617,42185,42161,23,1,0,2130.07
2012-01-01 01:00:00,1,1,567619,51108,600,40814,40790,23,1,0,2085.43
2012-01-01 01:05:00,1,1,567619,49440,601,39771,39741,29,1,0,2028.23
2012-01-01 01:10:00,1,1,567619,48424,594,38371,38354,16,1,0,1948.67
2012-01-01 01:15:00,1,1,538844,47190,536,37468,37458,9,1,0,1924.35
2012-01-01 01:20:00,1,1,567619,47010,530,36453,36441,12,0,0,1811.01
2012-01-01 01:25:00,1,1,567619,45990,531,35816,35807,9,0,0,1845.09
2012-01-01 01:30:00,1,1,567619,45627,509,35593,35582,10,1,0,1817.75
2012-01-01 01:35:00,1,1,567619,43521,533,33713,33697,15,1,0,1782.73
2012-01-01 01:40:00,1,1,567619,44072,588,34338,34328,10,0,0,1851.16
2012-01-01 01:45:00,1,1,567619,42616,562,32581,32572,9,0,0,1704.55
2012-01-01 01:50:00,1,1,567619,42175,574,32017,31999,18,0,0,1701.88
2012-01-01 01:55:00,1,1,567619,42852,598,32433,32420,13,0,0,1719.99
2012-01-01 02:00:00,1,1,567619,41718,494,31197,31188,9,0,0,1574.05
2012-01-01 02:05:00,1,1,567619,41460,541,31108,31092,16,0,0,1639.23
2012-01-01 02:10:00,1,1,567619,42150,553,31310,31294,16,0,0,1604.21
2012-01-01 02:15:00,1,1,567619,42248,525,31909,31882,27,0,0,1679.19
2012-01-01 02:20:00,1,1,567619,42390,538,32113,32100,12,1,0,1667.65
2012-01-01 02:25:00,1,1,567619,43353,519,32876,32861,15,0,0,1724.39
...,...,...,...,...,...,...,...,...,...,...,...
2012-12-31 21:25:00,1,1,576532,95586,1282,91018,90997,16,4,1,6869.00
2012-12-31 21:30:00,1,1,576532,95437,1283,90951,90934,14,3,0,6779.80
2012-12-31 21:35:00,1,1,576532,96798,1398,91817,91795,21,1,0,6847.00
2012-12-31 21:40:00,1,1,576532,97559,1437,92090,92074,12,4,0,6866.29
2012-12-31 21:45:00,1,1,576532,99145,1595,93042,93021,18,3,0,6815.00
2012-12-31 21:50:00,1,1,576532,99686,1743,93525,93509,15,1,0,6898.97
2012-12-31 21:55:00,1,1,576532,100233,1628,93418,93396,20,2,0,6808.83
2012-12-31 22:00:00,1,1,576532,100310,1478,93335,93311,23,1,0,6783.45
2012-12-31 22:05:00,1,1,576532,100753,1150,93616,93587,26,2,1,6747.16
2012-12-31 22:10:00,1,1,576532,103030,1069,94964,94938,24,2,0,6743.39
2012-12-31 22:15:00,1,1,576532,104471,1018,96268,96243,22,3,0,6649.04
2012-12-31 22:20:00,1,1,576532,105862,861,96852,96830,17,3,2,6574.93
2012-12-31 22:25:00,1,1,576532,107168,741,97304,97283,18,2,1,6443.22
2012-12-31 22:30:00,1,1,576532,108952,643,98744,98722,21,1,0,6390.13
2012-12-31 22:35:00,1,1,576532,110129,635,99592,99571,20,1,0,6344.89
2012-12-31 22:40:00,1,1,576532,111672,586,100972,100953,16,3,0,6349.34
2012-12-31 22:45:00,1,1,576532,112805,631,102219,102192,25,1,1,6380.18
2012-12-31 22:50:00,1,1,576532,114046,604,103813,103790,20,3,0,6346.67
2012-12-31 22:55:00,1,1,576532,114055,646,103897,103874,21,1,1,6314.27
2012-12-31 23:00:00,1,1,576532,115000,580,104390,104371,16,2,1,6259.26
2012-12-31 23:05:00,1,1,576532,116338,651,105438,105420,16,1,1,6343.90
2012-12-31 23:10:00,1,1,576532,118276,514,106430,106412,16,2,0,6341.77
2012-12-31 23:15:00,1,1,576532,118661,301,106228,106209,18,0,1,6310.70
2012-12-31 23:20:00,1,1,576532,119500,244,106429,106407,20,1,1,6259.71
2012-12-31 23:25:00,1,1,576532,120565,272,107722,107700,20,2,0,6166.24
2012-12-31 23:30:00,1,1,576532,120056,346,107969,107946,21,1,1,6260.74
2012-12-31 23:35:00,1,1,576532,121355,419,109353,109332,18,2,1,6424.69
2012-12-31 23:40:00,1,1,576532,121635,410,109147,109125,19,2,1,6400.37
2012-12-31 23:45:00,1,1,576532,122093,406,108980,108956,21,3,0,6450.22
2012-12-31 23:50:00,1,1,576532,125340,372,111942,111923,18,0,1,6402.42

In [4]:
# Data Statistics
dfrr.describe()

,RX,RY,zgrids_me,zgrids_st,zgrids_co,rgrids_>0,rgrids_0-1,rgrids_1-5,rgrids_5-10,rgrids_>10,rsum
count,105407.000000,105407.000000,105407.000000,105407.000000,105407.000000,105407.000000,105407.000000,105407.000000,105407.000000,105407.000000,105407.000000
mean,0.999127,0.999137,581080.274099,53186.434696,2911.027465,47512.953333,47222.903726,246.480632,42.160967,1.547051,4776.534929
std,0.029531,0.029370,24234.940084,59488.482733,6280.523712,57720.548837,57186.340409,611.284702,2792.939999,11.181743,6958.794825
min,0.000000,0.000000,141116.000000,0.000000,8.000000,33.000000,31.000000,0.000000,0.000000,0.000000,6.860000
25%,1.000000,1.000000,576532.000000,8165.000000,105.000000,4681.500000,4647.500000,11.000000,0.000000,0.000000,254.025000
50%,1.000000,1.000000,576538.000000,32218.000000,565.000000,26543.000000,26234.000000,24.000000,1.000000,0.000000,1885.290000
75%,1.000000,1.000000,608824.000000,80106.000000,3359.500000,71696.000000,71346.500000,150.000000,3.000000,1.000000,6396.605000
max,1.000000,1.000000,810000.000000,431230.000000,810000.000000,810000.000000,569045.000000,11234.000000,234132.000000,1848.000000,75957.780000

# Determination of time periods
---------------------------------------------

In [7]:
# select start end end time
tstart, tend= '20120515140000','20120515150000'

dfrr = dfrr[tstart:tend]

# Calculation of precentages
--------------------------------------------

In [8]:
# Availabilty of RX and RY Products
rx = dfrr[u'RX'].replace(0,np.nan)
ry = dfrr[u'RY'].replace(0,np.nan)

# Propotion of grid points with real measurements 
anteil_gemessen = (rx*ry)*(dfrr[u'zgrids_me']/(900*900))*100

# Propotion of grid points with stratiform measurements 
anteil_stratiform = (rx*ry)*(dfrr[u'zgrids_st']/dfrr[u'zgrids_me'])*100

# Propotion of grid points with convective measurements 
anteil_convective = (rx*ry)*(dfrr[u'zgrids_co']/dfrr[u'zgrids_me'])*100

# Propotion of grid points with RR > 0 mm/h
anteil_RR0 = (rx*ry)*(dfrr[u'rgrids_>0']/dfrr[u'zgrids_me'])*100

# Propotion of grid points with 0 mm/h < RR < 1 mm/h
anteil_RR01 = (rx*ry)*(dfrr[u'rgrids_0-1']/dfrr[u'zgrids_me'])*100

# Propotion of grid points with 1 mm/h < RR < 5 mm/h
anteil_RR15 = (rx*ry)*(dfrr[u'rgrids_1-5']/dfrr[u'zgrids_me'])*100

# Propotion of grid points with 5 mm/h < RR < 10 mm/h
anteil_RR510 = (rx*ry)*(dfrr[u'rgrids_5-10']/dfrr[u'zgrids_me'])*100

# Propotion of grid points with RR > 10 mm/h
anteil_RR10 = (rx*ry)*(dfrr[u'rgrids_>10']/dfrr[u'zgrids_me'])*100
rsum = (rx*ry)*dfrr[u'rsum']

# Plot
--------

In [9]:
plt.figure(figsize=(20,14))
plt.subplot(3,1,1)
anteil_gemessen.plot()
#rx.plot(color='grey', lw=3)
#ry.plot(color='orange', lw=3, linestyle='-.')

plt.grid()
plt.ylabel(r'%')
plt.title('Anteil des wirklich gemessenen RADOLAN Grid')

plt.subplot(3,1,2)
anteil_stratiform.plot.area(stacked=False,label='stratiform')
anteil_convective.plot.area(stacked=False,label='convective')
plt.legend()
plt.grid()
plt.ylabel(r'%')
plt.title('Anteil Stratiform- Convectiv')


plt.subplot(3,1,3)
anteil_RR0.plot(label='RR > 0 in mm/h')
anteil_RR01.plot(label=' 0 > RR > 1 in mm/h')
anteil_RR15.plot(label='1 > RR > 5 in mm/h')
anteil_RR510.plot(label='5 > RR > 10 in mm/h')
anteil_RR10.plot(label='RR > 10 in mm/h')
plt.title('Anteil verschiedener Regenraten')
plt.ylabel(r'%')
plt.ylim(-1,101)
rx.plot(color='grey', lw=3)
ry.plot(color='orange', lw=3, linestyle='-.')
plt.legend()
plt.grid()


plt.tight_layout()
plt.show()

In [ ]:
'''
plt.figure(figsize=(18,18))
plt.subplot(3,3,1)
anteil_gemessen.plot()
plt.grid()
plt.ylabel(r'%')
plt.title('Anteil des wirklich gemessenen RADOLAN Grid')

plt.subplot(3,3,2)
anteil_stratiform.plot.area(label='stratiform')
anteil_convective.plot.area(label='convective')
plt.legend()

plt.grid()
plt.ylabel(r'%')

plt.subplot(3,3,3)
rx.plot(label='RX',color='green', linestyle='-', lw=3)
ry.plot(label='RY',color='blue', linestyle='-', lw=3)
plt.ylim(-105,105)
plt.legend()
plt.grid()
plt.ylabel(r'%')
plt.title('RX RY ')

plt.subplot(3,3,4)
anteil_RR0.plot()
plt.ylabel(r'%')
plt.grid()
plt.title('Anteil RR > 0 mm/h')

plt.subplot(3,3,5)
anteil_RR01.plot()
plt.grid()
plt.ylabel(r'%')
plt.title('Anteil RR 0-1 mm/h')

plt.subplot(3,3,6)
anteil_RR15.plot()
plt.grid()
plt.ylabel(r'%')
plt.title('Anteil RR 1-5 mm/h')

plt.subplot(3,3,7)
anteil_RR510.plot()
plt.grid()
plt.ylabel(r'%')
plt.title('Anteil RR 5-10 mm/h')

plt.subplot(3,3,8)
anteil_RR10.plot()
plt.grid()
plt.ylabel(r'%')
plt.title('Anteil RR > 10 mm/h')


plt.subplot(3,3,9)
rsum.cumsum().plot()
plt.grid()
plt.ylabel(r' --')
plt.title('regensumme')
plt.tight_layout()
plt.show()
'''

In [ ]:

# Propotion of grid points with 0 mm/h < RR < 1 mm/h
anteil_RR01 = (rx*ry)*(dfrr[u'rgrids_0-1']/dfrr[u'rgrids_>0'])*100

# Propotion of grid points with 1 mm/h < RR < 5 mm/h
anteil_RR15 = (rx*ry)*(dfrr[u'rgrids_1-5']/dfrr[u'rgrids_>0'])*100

# Propotion of grid points with 5 mm/h < RR < 10 mm/h
anteil_RR510 = (rx*ry)*(dfrr[u'rgrids_5-10']/dfrr[u'rgrids_>0'])*100

# Propotion of grid points with RR > 10 mm/h
anteil_RR10 = (rx*ry)*(dfrr[u'rgrids_>10']/dfrr[u'rgrids_>0'])*100
rsum = (rx*ry)*dfrr[u'rsum']

In [ ]:

#anteil_RR01.plot(label=' 0 > RR > 1 in mm/h')
anteil_RR15.plot(label='1 > RR > 5 in mm/h')
anteil_RR510.plot(label='5 > RR > 10 in mm/h')
anteil_RR10.plot(label='RR > 10 in mm/h')
plt.title('Anteil verschiedener Regenraten')
plt.ylabel(r'%')
plt.ylim(-1,101)
rx.plot(color='grey', lw=3)
ry.plot(color='orange', lw=3, linestyle='-.')
plt.legend()
plt.grid()


plt.tight_layout()
plt.show()

In [10]:
dfrr

,RX,RY,zgrids_me,zgrids_st,zgrids_co,rgrids_>0,rgrids_0-1,rgrids_1-5,rgrids_5-10,rgrids_>10,rsum
2012-05-15 14:00:00,1,1,608824,159081,12935,149030,147968,1054,8,0,19653.27
2012-05-15 14:05:00,1,1,608824,160283,12409,149773,148764,1002,6,1,19510.67
2012-05-15 14:10:00,1,1,608824,161746,12661,151074,149944,1123,7,0,19839.09
2012-05-15 14:15:00,0,0,608824,161746,12661,151074,149944,1123,7,0,19839.09
2012-05-15 14:20:00,1,1,608824,163243,13330,153259,151989,1254,16,0,20274.91
2012-05-15 14:25:00,1,1,608824,163995,13500,153587,152389,1182,18,1,20339.82
2012-05-15 14:30:00,1,1,141116,35028,2535,152071,150967,1094,14,0,19510.38
2012-05-15 14:35:00,1,1,608824,165789,13437,155363,154174,1168,23,0,20340.35
2012-05-15 14:40:00,1,1,608824,167166,13742,156345,155204,1123,16,2,20347.68
2012-05-15 14:45:00,1,1,608824,168537,13741,157594,156425,1163,6,0,20208.91
2012-05-15 14:50:00,1,1,608824,167823,13768,157224,156168,1049,6,1,20015.83
2012-05-15 14:55:00,1,1,608824,169655,13669,158317,157306,1007,4,0,19848.87
2012-05-15 15:00:00,1,1,608824,170873,13740,159654,158619,1033,2,0,19933.18